extends widget/base
block append head
    - var v = new Date().getTime()
    link(rel='stylesheet', href= url_for('/style/post.css?v=' + v))
    link(rel='stylesheet', href= url_for('/style/themes/highlight.css?v=' + v))

block topic
    div#postTopic.is-full-height.hidden
        - var title = truncate( page.title, {length: 65, omission: '..'} ) || ''
        p.is-full-height.is-flex-shrink-0.is-flex.is-align-items-center.is-justify-content-center= title
        //- p.is-full-height.is-flex-shrink-0.is-flex.is-align-items-center.is-justify-content-center= __('click_back_to_the_top')

block topicMobile
    div#postTopicMobile.is-full-height.hidden
        - var title = truncate( page.title, {length: 65, omission: '..'} ) || ''
        p.is-full-height= title
          //- p.is-full-height.is-flex-shrink-0.is-flex.is-align-items-center.is-justify-content-center= __('click_back_to_the_top')

block content
    - var tocContent = toc(page.content, {list_number: false})
    main.container.is-max-widescreen.content.section.post-page.pt-4
        .columns.is-flex-desktop.is-justify-content-center
            .column.is-3.silde-bar.is-hidden-mobile(class= tocContent.length < 1 && 'is-hidden')!= tocContent
            .column.is-9.post-container
                h1.mt-0.mb-2#postTitle= page.title
                if page.date && page.author
                    div.page-author
                        div.is-flex.is-flex-direction-row.page-data.mr-6
                            img.mr-1(src= page.avatar || url_for("/images/default_avatar.png") alt= page.author)
                            div.page-author-info
                                strong= page.author
                                time.has-text-grey(datetime=page.date.toJSON())= date(page.date, date_format)
                        div.is-flex
                            if page.tags && page.tags.length > 0
                                each tag in page.tags.toArray()
                                    a(href= url_for(`/tags/${tag.name}`))
                                        i.page-tag.mr-1.px-1= tag.name.replace(/-/g, ' ')
                article.mt-4.post-content!= page.content
    
    if page.mathjax
        include widget/mathjax.pug
    script(src= url_for("/js/post.js?v=" + v))
    script(src= url_for("/js/highlight.min.js?v=" + v))
    script.
        var postFontSize = localStorage.getItem('post-font-size') || '16';
        var containerEl = document.querySelector('.post-container');
        var inputEl = document.querySelector('#size-change-input');
        inputEl.value = postFontSize;
        containerEl.style.fontSize = postFontSize + 'px';
    script.
        hljs.initHighlightingOnLoad();
