- var appearance = theme.appearance ? theme.appearance : 'auto'
- var pageTitle = page.title || theme.user && theme.user.name
- if (is_archive()) pageTitle = _p('archive')
- if (is_tag()) pageTitle = _p('tag') + ': ' + page.tag
- if (is_category()) pageTitle = _p('category') + ': ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- var v = new Date().getTime()

doctype html
//- html(lang=config.language class= `appearance-${ appearance }`)
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    meta(name="description" content= config.description || theme.user && theme.user.description)
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1")

    link(rel="icon" href= url_for(theme.favicon))
    link(rel="stylesheet" href= url_for('/style/common/bulma.css?v=' + v))
    link(rel="stylesheet" href= url_for('/style/base.css?v=' + v))
    link(rel="stylesheet" href= url_for('/style/common/helper.css?v=' + v))
    link(rel="stylesheet" href= url_for('/style/themes/animation.css?v=' + v))
    link(rel='stylesheet', href= url_for("//at.alicdn.com/t/font_2777699_cweokhe39xh.css"))
    script(src= url_for("/js/jquery.min.js?v=" + v))
    script(src= url_for("/js/common.js?v=" + v))
    block head

  body.is-flex.is-flex-direction-column(onload="initialTheme()")
    div.clip
    div(class= `body-container appearance-${ appearance }`)
      include widget-header
      main
        block content
    //- footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0
    //-   section.sns-container
    //-     include widget-sns
    //-   p
    //-     span Copyright ©
    //-     - var author = (theme.user && theme.user.name) || config.author || ''
    //-     span= ' ' + author + ' ' + new Date().getFullYear()
    //- script(src= url_for("/js/search.js"))
    script(async defer src= url_for("/js/buttons.js?v=" + v))
    script(src= url_for("/js/index.js?v=" + v))
    
    block append script
      script.
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?c92c073c85be5be8d9b1b76f62a7e306";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        
