- var v = new Date().getTime()

block append head
    link(rel='stylesheet', href= url_for("/style/widget-archives.css?v=" + v))
    
main.aside-card-container.archives-widget(class= is_archive() && 'is-in-archive-page')
    header.mb-2
        h1= _p('archive')
        p
            span= site.posts.length
            span= ' 篇文章'
    section.post-list
        ul
            each post in site.posts.sort('date', -1).toArray()
                li
                    a(href= url_for(post.path))
                        strong= post.title
                        div
                            img.mr-1(src= post.avatar || url_for("/images/default_avatar.png") alt= post.author)
                            span= post.author
                            time.has-text-grey(datetime=post.date.toJSON())= date(post.date, date_format)
                        i.iconfont.icon-icon_into
                    

                
